html,
body {
    height: 100%;
}

body {
    font-family: "Bentham", sans-serif;
    background-image: url("assets/images/anchor_banner.png");
    background-size: cover;
    /*animation: scrolling 100s linear infinite;*/
}

@keyframes scrolling {
    from{
        background-position: 0 0;
    }
    to{
        background-position: 100% 100%;
    }
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
